.about {
  height: 37rem;
  width: 100%;
  padding-top: 0.3rem;
  background: black;
  color: white;
  direction: rtl;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-top: 1rem;
    font-size: 20px;
  }
}

.button_div {
  margin-bottom: 12px;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 85%;
  height: 67%;
}

.content {
  width: 50rem;
  h1 {
    margin-top: 16px;
    font-size: 50px;
  }
  img {
    object-fit: contain;
    height: 2rem;
    width: 15rem;
    margin: 0;
  }
}
