.about {
  background: black;
  height: 38rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avi {
  height: 75%;
  width: 85%;
  background: white;
  border-radius: 0.2em;
  filter: drop-shadow(0px 0px 0.5rem #dcc6b9);
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    height: 100%;
    width: 500rem;
    object-fit: cover;
    margin: 0 5rem 0 0;
  }
}

.avi_text {
  text-align: center;
  p {
    color: black;
    font-size: 1.2em;
    padding: 0 2rem 0 2rem;
    margin: 3rem 0 3rem 0; 
  }
  h1 {
    color: black;
    margin-bottom: 1rem;
    font-size: 3.2em;
  }
}
