.about {
  height: 76rem;
  width: 100%;
  padding-top: 0.3rem;
  background: black;
  color: white;
  direction: rtl;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  -moz-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  p {
    margin-top: 1rem;
    font-size: 17px;
  }
}
.about_small {
  height: 120rem;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: black;
  color: white;
  direction: rtl;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  -moz-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  p {
    margin-top: 1rem;
    font-size: 17px;
  }
}

.button_div {
  margin-bottom: 12px;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 85%;
  height: 67%;
}

.content {
  width: 52rem;
  border: 8px solid white;
  -webkit-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  -moz-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  h1 {
    margin-top: 16px;
    font-size: 50px;
  }
}

.content_small {
  width: 52rem;
  -webkit-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  -moz-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  h1 {
    margin-top: 16px;
    font-size: 50px;
  }
}

.office {
  width: 51.08rem;
  height: 20rem;
}