.about {
  height: 37rem;
  width: 100%;
  padding-top: 0.3rem;
  background: black;
  color: white;
  direction: rtl;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-top: 1rem;
    font-size: 20px;
  }
}

.button_div {
  margin-bottom: 12px;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 75%;
  height: 67%;
}

.content {
  width: 50rem;
  border: 8px solid white;
  h1 {
    margin-top: 16px;
  }
}