.logo {
  width: 67%;
  height: 30rem;
  border: solid 3px black;
  border-radius: 3px;
}

.soon {
  text-align: right;
  h1 {
    color: black;
  }
  margin-bottom: 5rem;
}

.head {
  width: 100%;
  height: 30rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}