.carousel {
  position: relative;
  z-index: 1; 
  background: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  height: 83px;
  padding-top: 10px;
  h1 {
    color: black;
    font-size: 50px;
    margin: 0;
  }
  img {
    object-fit: contain;
    height: 2rem;
    width: 20rem;
    margin: 0;
  }
}

.all_projects {
  background: white;
  width: 100%;
  text-align: center;
  padding: 4px 0 16px 0;
}

.button_div {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}
