.contact {
  background: black;
  color: black;
  padding: 20px;
  height: 32rem;
  -webkit-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  -moz-box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
  box-shadow: 6px 6px 16px 5px rgba(189,189,189,0.32);
}