.footer {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: gray;
  a {
    color: black;
    text-decoration: underline;
    margin: 2px 4px 0 4px;
  }
  a:hover {
    color: black
  }
  img {
    margin: 0;
    object-fit: cover;
  }
}

.dev {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black
  }
  p {
    margin: 0 2.5px 0 0;
  }
}

.slogan {
  height: 19rem;
  width: 100%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    object-fit: cover;
  }
}
