.hero {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: black;
  overflow: hidden;
  position: relative;
}

.text_container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  img {
    object-fit: cover !important;
  }
}

.scroll a {
  padding-top: 80px;
  z-index: 12;
}
.scroll a span {
  color: white !important;
  position: absolute;
  top: 630px;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.scroll a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  z-index: 12;
}
.scroll a span:nth-of-type(2) {
  top: 646px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 12;
}
.scroll a span:nth-of-type(3) {
  top: 662px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  z-index: 12;
}

.scroll_medium a {
  padding-top: 80px;
  z-index: 12;
}
.scroll_medium a span {
  color: white !important;
  position: absolute;
  top: 1050px;
  left: 50%;
  width: 5rem;
  height: 5rem;
  margin-left: -12px;
  border-left: 1.5px solid white;
  border-bottom: 1.5px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.scroll_medium a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  z-index: 12;
}
.scroll_medium a span:nth-of-type(2) {
  top: 1066px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 12;
}
.scroll_medium a span:nth-of-type(3) {
  top: 1082px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  z-index: 12;
}

.scroll_large a {
  padding-top: 80px;
  z-index: 12;
}

.scroll_large a span {
  color: white !important;
  position: absolute;
  top: 912px;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin-left: -12px;
  border-left: 1.5px solid white;
  border-bottom: 1.5px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.scroll_large a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  z-index: 12;
}
.scroll_large a span:nth-of-type(2) {
  top: 928px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 12;
}
.scroll_large a span:nth-of-type(3) {
  top: 944px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  z-index: 12;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  z-index: 2;
  text-align: center;
  position: relative;
}

.slide_container {
  width: 100%;
  margin: auto;
  position: absolute;
}

.each_fade {
  display: flex;
}

.each_fade .image_container {
  width: 100%;
  overflow: hidden;
}

.each_fade .image_container img {
  width: 100%;
}

.logo_image {
  height: 40rem;
}
.logo_image_small {
  height: 28rem;
}
.logo_image_medium {
  height: 47rem;
}

.image_small {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  img {
    object-fit: cover !important;
  }
}

.image_medium {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  img {
    object-fit: cover !important;
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .scroll a {
    padding-top: 80px;
    z-index: 12;
  }
  .scroll a span {
    color: white !important;
    position: absolute;
    top: 1050px;
    left: 50%;
    width: 5rem;
    height: 5rem;
    margin-left: -12px;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(2) {
    top: 1066px;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(3) {
    top: 1082px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    z-index: 12;
  }
  .image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    img {
      object-fit: cover !important;
    }
  }

  .logo_image {
    height: 47rem;
  }
}

@media screen and (min-device-width: 1800px) and (max-device-width: 2400px) and (-webkit-min-device-pixel-ratio: 1) {
  .scroll a {
    padding-top: 80px;
    z-index: 12;
  }

  .scroll a span {
    color: white !important;
    position: absolute;
    top: 912px;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -12px;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(2) {
    top: 928px;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(3) {
    top: 944px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    z-index: 12;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .scroll a {
    padding-top: 80px;
    z-index: 12;
  }
  .scroll a span {
    color: white !important;
    position: absolute;
    top: 630px;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -12px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(2) {
    top: 646px;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 12;
  }
  .scroll a span:nth-of-type(3) {
    top: 662px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    z-index: 12;
  }

  .image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    img {
      object-fit: cover !important;
    }
  }

  .logo_image {
    height: 32rem;
  }
}
