/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 18px;
}


/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: linear-gradient(90deg, rgba(126,57,27,1) 2%, rgba(181,134,111,1) 35%, rgba(220,198,185,1) 50%, rgba(181,134,111,1) 65%, rgba(126,57,27,1) 98%);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  width: 6px !important;
  height: 28px !important;
  background: #DCC6B9;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: #DCC6B9;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.8em;
  font-size: 36px;
}
.bm-item:hover {
  color: #813E21;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s background-color ease;
}

.navbar-black {
  background: black;
  z-index: 3;
}

.current-path {
  padding: 8px !important;
  border: 2px solid #7e391b !important;
}