.navbar {
    width: 100vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    z-index: 15;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s background-color ease;
}

.navbar_white {
  background: white;
}

.selected{
    padding: 5px;
    border: 2px solid #7e391b;
}

.logo {
  width: 16rem;
  margin: 0;
}

.logos {
  width: 60%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos_large {
  width: 57%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  font-family: 'Heebo';
  color: black;
  height: 2rem;
  width: 2rem;
  margin: 0 0.1rem 0.2rem 0.2rem;
}

.social_white {
  font-family: 'Heebo';
  color: black;
  height: 2rem;
  width: 2rem;
  margin: 0 0.1rem 0.2rem 0.2rem;
  color: white !important;
}

.menu_white {
  background: white;
  height: 4.5rem;
  width: 8%;
}
.menu_white_large {
  background: white;
  height: 4.5rem;
  width: 7%;
}