/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.8rem;
  height: 2.3rem;
  right: 1.5rem;
  top: 1.2rem;
  -webkit-tap-highlight-color: transparent;
  button {
    outline: none !important;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-tap-highlight-color: transparent;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 28px;
  width: 28px;
  -webkit-tap-highlight-color: transparent;
  button {
    outline: none !important;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  width: 6px !important;
  height: 28px !important;
  background: #dcc6b9;
  -webkit-tap-highlight-color: transparent;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: white;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.8em;
  font-size: 36px;
}
.bm-item:hover {
  color: grey;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar-black {
  background: white !important;
  z-index: 13;
}

.current-path {
  padding: 8px !important;
  border: 2px solid grey !important;
  outline: none !important;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
