.panel {
  width: 100%;
}

.summary {
  direction: rtl;
  h1{
    color: black;
    font-size: 2em;
  }
}

.small_card {
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}