.content {
  display: flex;
  justify-content: center;
}

.text {
  width: 50rem;
  height: 100%;
  text-align: right;
  font-family: 'Heebo';
  margin: 0 0 3rem 5rem;
  padding-left: 3rem;
  p {
    direction: rtl;
    float: right;
  }
  h1 {
    margin-bottom: 1rem;
    direction: rtl;
    float: right;
    color: black;
  }
}

.contact {
  width: 15rem;
  height: 100%;
  margin-right: 3.5rem;
}

.box {
  width: 21rem;
  height: 23rem;
  background: gray;
  border: 3px solid black;
  p {
    text-align: center;
  }
  button {
    background: none;
  }
}

.header {
  width: 100%;
  height: 4rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
  }
}

.form {
  text-align: center;
  input {
    width: 12rem;
    text-align: right;
    border-radius: 5px;
  }
}

.form_field {
  margin: 1rem;
}

.submit {
  margin-top: 1rem;
}

.modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.paper {
  border: 2px solid black;
  padding: 5px;
  background: white;
}

.error {
  color: red;
  font-size: 13px;
}

.map {
  height: 20rem;
  width: 100%;
}