.gallery {
  height: 31rem;
}

.project_container {
  width: 100%;
  height: 28rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


.slide_container {
  width: 25rem;
  height: 14rem;
}

.each_fade {
  display: flex;
}

.each_fade .image_container {
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.each_fade .image_container img {
  width: 100%;
}


.image_container {
  margin: 0 0.5rem 0 0.5rem;
}

.logo_image {
  height: 40rem;
}
.logo_image_small {
  height: 28rem;
}
.logo_image_medium {
  height: 47rem;
}

.gallery_side {
  width: 24rem;
  height: 12rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.logo {
  height: 9rem;
  width:  14rem;
}