.card {
  position: relative;
  width: 67%;
  height: 500px;
  margin: 20px;
  border: 6px solid black;
  filter: drop-shadow(0px 0px 5px #dcc6b9);
  background: black;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 488px;
  opacity: 0.8;
}

.text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-51%, -50%);
  -moz-transform: translate(-51%, -50%);
  -ms-transform: translate(-51%, -50%);
  -o-transform: translate(-51%, -50%);
  transform: translate(-51%, -50%);
}

.card .text_container .inner {
  z-index: 2;
  text-align: center;
  position: relative;
}


.header_shadow {
  background: rgba(0, 0, 0, 0.5);
  padding: 7px 0 7px;
  min-width: 2rem;
  max-width: 16rem;
  margin: 16px;
  min-height: 2rem;
  max-height: 10rem;
  float: left;
  clear: left;
  width: 14rem;
}

.header_shadow_small {
  background: rgba(0, 0, 0, 0.5);
  height: 10rem;
  width: 10rem;
  padding-bottom: 5px;
  margin: 16px;
  h1 {
    font-size: 2em;
  }
}

h1 {
  font-family: 'Heebo';
  color: white;
  margin-bottom: 0;
  font-size: 200%;
}

.aws-btn {

  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
  }